# Django settings
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=<your-secret-key>
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Slasher API settings
SLASHER_API_PORT=8000

# Slasher frontend settings
SLASHER_FRONTEND_PORT=3000

# External API settings
VIRUSTOTAL_API_KEY=<your-virustotal-key>